@model UserVM


<!--div class="container-fluid mt-4 profile">
	<h1 class="title text-start">PROFILE</h1>
	<div class="row justify-content-center">
		<div class="col-md-3">
			@Html.Partial("Sidebar", Model)
		</div>
		<div class="col-md-9">
			<div class="my-profile">
				<h2 class="text-center custom-my-profile mb-4">Edit Profile</h2>
				<form class="profile-form" method="post">
					<div class="row mb-3">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="fullName">Full Name:</label>
								<input asp-for="User.FullName" class="form-control" id="fullName" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="bio">Bio:</label>
								<input asp-for="User.Bio" class="form-control" id="bio" />
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="address">Address:</label>
								<input asp-for="User.Address" class="form-control" id="address" />
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="gender">Gender:</label>
								<select asp-for="User.Gender" class="form-control" id="gender">
									<option value="M" selected="@Model.User.Gender.Equals('M')">Male</option>
									<option value="F" selected="@Model.User.Gender.Equals('F')">Female</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="dob">Date of Birth:</label>
								<input asp-for="User.DOB" class="form-control" id="dob" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="phone">Phone Number:</label><p style="	background-color: #cfe7de;
																					padding: 10.5px 9px;
																					border-radius: 5px;
																					text-decoration: none;
																					margin-bottom: 0px;">
									<a target="_blank" href="https://zalo.me/@Model.User.PhoneNumber" style="text-decoration: none; color: black;">@Model.User.PhoneNumber</a>
								</p>
								
								<span class="text-custom-light" style="font-size: 10px; margin-left: 12%">Muốn cập nhật Số điện thoại, <a style="text-decoration: none; font-size: 10px;font-weight:bold" href="/Identity/Account/Manage">Click here</a></span>
							</div>
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="description">Description:</label>
						<textarea asp-for="User.Description" class="form-control" id="description"></textarea>
					</div>
					<div>
						<button type="submit" class="btn-savechange">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</!--div-->



<div class="container-fluid mt-4 profile">
    <h1 class="title text-start">PROFILE</h1>
    <div class="row justify-content-center">
        <!-- Sidebar -->
        <div class="col-md-3">
            @Html.Partial("Sidebar", Model)
        </div>
        <!-- My Profile Section -->
        <div class="col-md-9">
            <div class="my-profile">
                <h2 class="text-center custom-my-profile mb-4">My Profile</h2>
                <form class="profile-form" method="post">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th for="fullName" scope="row">Full Name:</th>
                                <td>
                                    <input asp-for="User.FullName" class="form-control" id="fullName" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th for="bio" scope="row">Bio:</th>
                                <td>
                                    <input asp-for="User.Bio" class="form-control" id="bio" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th for="address" scope="row">Address:</th>
                                <td>
                                    <input asp-for="User.Address" class="form-control" id="address" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th for="gender" scope="row">Gender:</th>
                                <td>
                                    <select asp-for="User.Gender" class="form-control" id="gender" disabled>
                                        <option value="M" selected="@Model.User.Gender.Equals('M')">Male</option>
                                        <option value="F" selected="@Model.User.Gender.Equals('F')">Female</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <th for="dob" scope="row">Date of Birth:</th>
                                <td>
                                    <input asp-for="User.DOB" class="form-control" id="dob" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th for="phone" scope="row">Phone Number:</th>
                                <td>
                                    <div style="position: relative;">
                                        <input asp-for="User.PhoneNumber" class="form-control" id="phone" readonly style="padding-right: 40px;" />
                                        @if (!string.IsNullOrEmpty(Model.User.PhoneNumber))
                                        {
                                            <a target="_blank" href="https://zalo.me/@(Model.User.PhoneNumber)"
                                               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);
                                  background: transparent; border: none; cursor: pointer;">
                                                <i class="fa fa-external-link" style="font-size: 20px; color: green;"></i>
                                            </a>
                                        }
                                    </div>
                                    <span class="text-custom-light" style="font-weight: 500; font-style: italic;">
                                        Want to update Phone Number?
                                        <a href="/Identity/Account/Manage" style="text-decoration: none; color: green;">
                                            <i class="fa-regular fa-hand-point-right"></i> Click here
                                        </a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <th for="description" scope="row">Description:</th>
                                <td>
                                    <textarea asp-for="User.Description" class="form-control" id="description" readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Your Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="edit-profile-form" asp-action="EditProfile" method="post">
                    <div class="mb-3">
                        <label for="fullNameEdit" class="form-label">Full Name</label>
                        <input asp-for="User.FullName" class="form-control" id="fullNameEdit" />
                    </div>
                    <div class="mb-3">
                        <label for="bioEdit" class="form-label">Bio</label>
                        <input asp-for="User.Bio" class="form-control" id="bioEdit" />
                    </div>
                    <div class="mb-3">
                        <label for="addressEdit" class="form-label">Address</label>
                        <input asp-for="User.Address" class="form-control" id="addressEdit" />
                    </div>
                    <div class="mb-3">
                        <label for="genderEdit" class="form-label">Gender</label>
                        <select asp-for="User.Gender" class="form-control" id="genderEdit">
                            <option value="M" selected="@Model.User.Gender.Equals('M')">Male</option>
                            <option value="F" selected="@Model.User.Gender.Equals('F')">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="dobEdit" class="form-label">Date of Birth</label>
                        <input asp-for="User.DOB" class="form-control" id="dobEdit" />
                    </div>
                    <div class="mb-3">
                        <label for="descriptionEdit" class="form-label">Description</label>
                        <textarea asp-for="User.Description" class="form-control" id="descriptionEdit"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn">Save Changes</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
